name: Create Jira Task on Dependabot PR

on:
  pull_request:
    types: [opened]

permissions:
  pull-requests: write
  
jobs:
  create-jira-task:
    if: startsWith(github.head_ref, 'dependabot')
    runs-on: ubuntu-latest
    name: Create Jira Task

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Get PR labels
        id: get-labels
        run: |
          labels=$(curl -s -H "Authorization: Bearer ${{ secrets.MY_GITHUB_TOKEN }}" \
            https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/labels \
            | jq -r '.[].name' | paste -sd "," -)
          echo "labels=$labels" >> "$GITHUB_OUTPUT"

      - name: Jira Login
        uses: atlassian/gajira-login@v3
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Jira Create Task
        id: create
        uses: atlassian/gajira-create@v3
        with:
          project: TR
          issuetype: Task
          summary: |
            Dependabot[${{ steps.get-labels.outputs.labels }}]${{ github.event.pull_request.title }}
          description: |
            Dependabot PRが作成されました。

            - *Title*:${{ github.event.pull_request.title }}
            - *URL*: ${{ github.event.pull_request.html_url }}
          fields: |
            {
             "customfield_10014": "TR-1740"
            }
      
      - name: Append Jira task link to PR body
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          issue_key="${{ steps.create.outputs.issue }}"
          pr_number=${{ github.event.pull_request.number }}
          repo=${{ github.repository }}

          body=$(gh api repos/$repo/pulls/$pr_number --jq .body)

          new_body="${body}\n\n[Jira Task](${{ secrets.JIRA_BASE_URL }}/browse/$issue_key)"

          gh api --method PATCH repos/$repo/pulls/$pr_number \
            -f body="$new_body"